@model IEnumerable<BusinessSuitMVC.Models.CDR_Instant>

@{
    ViewBag.Title = "SingleCallList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-wrapper">

    <section class="content-header">
        <h1>
            User
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                        <div class="box-body">
                            <!--contents start-->
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mobile)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Context)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Last_App)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Disposition)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Bill_Sec)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Duration)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Remarks)
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Context)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Last_App)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Disposition)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bill_Sec)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remarks)
                                        </td>
                                        <td>

                                        @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>*@
                                    </tr>
                                }
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </section>
</section>


