@model BusinessSuitMVC.Models.Source
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
@{
    List<SelectListItem> source = new List<SelectListItem>();
    source.Add(new SelectListItem() { Value = "1", Text = "Shop" });
    source.Add(new SelectListItem() { Value = "2", Text = "Councillor" });
    source.Add(new SelectListItem() { Value = "3", Text = "General Councillor" });
    source.Add(new SelectListItem() { Value = "4", Text = "Mayor" });
    source.Add(new SelectListItem() { Value = "5", Text = "Other" });

}



<section class="content-wrapper">

    <section class="content-header">
        <h1>
            Source
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Source Number Create</h3>
                    </div>
                    @using (Html.BeginForm("SourceNumberCreate", "Source", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "userCreate", @name = "userCreate" }))
                    {
                        <div class="box-body">
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">
                                <label class="control-label col-md-3">Source Name<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(m => m.Contact_Name, new { @Class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Company Name<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(m => m.Company_Name, new { @Class = "form-control", })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Source Type<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("Source_Type", @source, "Select Source Type", new { @class = "form-control editor-field", @readonly = "true", @disabled="disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-md-3">Mobile </label>
                                    <div class="col-md-5">
                                        @Html.TextBox("MobileNumber",null, new { @Class = "form-control" })
                                    </div>
                                </div>



                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <input type="submit" value="Save" style="margin-left:15px" class="btn btn-info" />
                                <input type="button" value="Reset" id="reset" class="btn btn-info" />
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label id="msg">@ViewData["msg"]</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>
<script>


    $("form").submit(function (event) {
        //stop form submit

        if ($("#Contact_Name").val() == "") {
            event.preventDefault();
            swal("Failed", "Source Name is required", "error").then(function () {
                $("#Contact_Name").focus();
            });
        }
        else if ($("#Company_Name").val() == "") {
            event.preventDefault();
            swal("Failed", "Company Name is required", "error").then(function () {
                $("#Company_Name").focus();
            });
        }
        else if ($("#Source_Type").val() == "") {
            event.preventDefault();
            swal("Failed", "Source Type is required", "error").then(function () {
                $("#Source_Type").focus();
            }); 
        }
        else if ($("#MobileNumber").val() == "" || $("#MobileNumber").val().length != 11) {
            event.preventDefault();
            swal("Failed", "MobileNumber is required", "error").then(function () {
                $("#MobileNumber").focus();
            });
        }

    });
    function resetFunction() {
        //$("#Contact_Name").val("");
        //$("#Company_Name").val("");
        //$("#Source_Type").val("");
        $("#MobileNumber").val("");
       
    }
    $(document).ready(function () {

        var message = $("#msg").text();

        if (message == "Successfully Updated") {
            swal("Successful", "Successfully Updated", "success");
            resetFunction();
        }
        $("#reset").click(function () {
            resetFunction();
        });

    });
</script>
            
