@model BusinessSuitMVC.Models.Number
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>

<section class="content-wrapper">

    @*<section class="content-header">
        <h1>
            Source
        </h1>
        <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>
    </section>*@
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Source Number Create</h3>
                    </div>
                    @using (Html.BeginForm("SourceNumber", "Source", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "userCreate", @name = "userCreate" }))
                    {
                        <div class="box-body">
                            @Html.HiddenFor(m => m.Id) 
                            @Html.Hidden("SourceId") 
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-4">Source Name</label>
                                <div class="col-md-5 col-xs-6">
                                    <label class="control-label">@ViewBag.contactName</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-4">Ward</label>
                                <div class="col-md-5 col-xs-6">
                                    <label class="control-label">@ViewBag.ward</label>
                                </div>
                            </div>
                            @if (ViewBag.companyName != null)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-5">Company Name</label>
                                    <div class="col-md-5 col-xs-6">
                                        <label class="control-label">@ViewBag.companyName</label>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-4">Source Type</label>
                                <div class="col-md-5 col-xs-8">
                                    @*@Html.DropDownList("sourceTypeId", (List<SelectListItem>)ViewData["SourceList"], "Select Source Type", new { @class = "form-control editor-field", @readonly = "true", @disabled="sourceTypeId" })*@
                                    <label class="control-label">@ViewBag.sourceType</label>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-md-3 col-xs-4">Mobile<span style="color:red;">*</span></label>
                                    <div class="col-md-5 col-xs-8">
                                        @Html.TextBoxFor(m => m.Number1, null, new { @class = "form-control" , @type="number", @style = "font-size:18px"})
                                    </div>
                                </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>

                                <button style="margin-left:15px" type="button" class="btn btn-primary" onclick="resetNumber()">Clear</button>

                                <a class="btn btn-info" href="~/Source/SourceNumberSearch?id=@ViewBag.SourceId"> Numbers List </a>

                                <button type="submit" class="btn btn-success" id="saveNumber" >Save Number</button> <i id="spinner" style="font-size:22px"></i>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label id="msg" style="color:red;">@ViewData["msg"]</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
@section contents{
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<style>
         .ui-autocomplete {
             max-height: 100px;
             overflow-y: auto;
             /* prevent horizontal scrollbar */
             overflow-x: hidden;
         }
         /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
         * html .ui-autocomplete {
             height: 100px;
         }
</style>
}

@section scripts{
<script src="~/Script/jquery-1.10.2.min.js"></script>
    
<script src="~/Script/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Number1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Source/suggestNumber",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term, sourceId: $('#SourceId').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Number1, value: item.Number1 };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });

    })
</script>

<script>


    $("form").submit(function (event) {
        //stop form submit
        $("#msg").text('');//clear msg
        $("button[type=submit]").attr("disabled", "disabled");
        var mobileNumber = $("#Number1").val();
        var operator = mobileNumber.substring(0, 3);

        if (mobileNumber == "") {
            event.preventDefault();
            validateMessage("Mobile Number is required");
        }
        else if (mobileNumber.length != 11) {
            event.preventDefault();
            validateMessage("Mobile Number should be 11 digit");
        }
        else if (operator != '015' && operator != '016' && operator != '017' && operator != '018' && operator != '019') {
            event.preventDefault();
            validateMessage("Invalid Operator.");
        }
        else {
            event.preventDefault();
            //var btn = $('#saveNumber');
            //$(btn).button('loading');
            $('#spinner').addClass('fa fa-spinner fa-spin');
            $.ajax({
                url: '/Source/SourceNumber',
                type: "POST",
                data: {
                    Id: $('#Id').val(),
                    SourceId: $('#SourceId').val(),
                    MobileNumber: $('#Number1').val()
                },
                success: function (result) {
                    if (isNaN(result) == true) {
                        //swal({
                        //    title: "Failed",
                        //    text: result,
                        //    icon: "error",
                        //    button: false,
                        //    timer: 500
                        //}).then(function () {
                        $("#msg").text(result + " - " + $("#Number1").val());
                        
                        //});
                    }
                    else { //successfully saved
                        //swal({
                        //    title: "Successful",
                        //    text: "Successfully Added",
                        //    icon: "success",
                        //    button: false,
                        //    timer: 500
                        //}).then(function () {

                        var editLink = " <a href='/Source/SourceNumber?Id="
                            + result
                            + "&sId="
                            + $("#SourceId").val()
                            + "' id='editNumber'"
                            + "title=" + $("#Number1").val()
                            + ">Edit</a>";

                        if ($("#Id").val() == '0')
                            $("#msg").text("Successfully Added- " + $("#Number1").val());
                        else
                            $("#msg").text("Successfully Updated- " + $("#Number1").val());

                        $('#msg').append(editLink);

                        //});
                    }
                    $("#Number1").focus();
                    $("#Number1").val('01');
                    $("#Id").val('0');
                    $("#saveNumber").text('Save Number');
                    $("button[type=submit]").removeAttr("disabled");
                    //$(btn).button('reset');
                    $('#spinner').removeClass('fa fa-spinner fa-spin');

                },
                error: function (result) {
                    swal('Failed', "unknown error occoured", 'error');
                    $("button[type=submit]").removeAttr("disabled");
                    $("#Number1").focus();
                    //$(btn).button('reset');
                    $('#spinner').removeClass('fa fa-spinner fa-spin');
                }
            });
        }


    });

    function getURLParameter(url, name) {
        return (RegExp(name + '=' + '(.+?)(&|$)').exec(url) || [, null])[1];
    }

    $(document).on('click', "a#editNumber", function(event){
        event.preventDefault();
        var number = $(this).attr('title');
        $("#Number1").focus();
        $("#Number1").val(number);
        var url = ($(this).attr('href'));
        var Id = getURLParameter(url, 'Id');
        $("#Id").val(Id);
        $("#saveNumber").text('Update Number');
    })

    function resetNumber() {
        $("#Number1").focus();
        $("#Number1").val('01');
        $("#Id").val('0');
        $("#saveNumber").text('Save Number');
        $("#msg").text('');

    }

    function validateMessage(validationMsg) {
        swal("Failed", validationMsg, "error").then(function () {
            $("#Number1").focus();
            $("#msg").text(validationMsg);
            $("button[type=submit]").removeAttr("disabled");
        });

    }

    $(document).ready(function () {
        resetNumber();
    });
</script>
            

}