@model BusinessSuitMVC.Models.User_Profile

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem>
    role = new List<SelectListItem>();
    role.Add(new SelectListItem() { Value = "1", Text = "Super Admin" });
    role.Add(new SelectListItem() { Value = "2", Text = "Admin" });
    role.Add(new SelectListItem() { Value = "3", Text = "Moderator" });
    role.Add(new SelectListItem() { Value = "4", Text = "User" });
    role.Add(new SelectListItem() { Value = "5", Text = "Uddokta" });
    role.Add(new SelectListItem() { Value = "6", Text = "Guest" });

    List<SelectListItem>
Gender = new List<SelectListItem>();
    Gender.Add(new SelectListItem() { Value = "1", Text = "Male" });
    Gender.Add(new SelectListItem() { Value = "2", Text = "Female" });



    List<SelectListItem>
        Usertype = new List<SelectListItem> ();
    Usertype.Add(new SelectListItem() { Value = "1", Text = "Internal user" });
    Usertype.Add(new SelectListItem() { Value = "2", Text = "Uddokta" });
    Usertype.Add(new SelectListItem() { Value = "3", Text = "Client" });

    List<SelectListItem>
        City = new List<SelectListItem>();
    City.Add(new SelectListItem() { Value = "1", Text = "Dhaka" });
    City.Add(new SelectListItem() { Value = "2", Text = "Gazipur" });
    City.Add(new SelectListItem() { Value = "3", Text = "Khulna" });
    City.Add(new SelectListItem() { Value = "4", Text = "Sylhet" });

}

<section class="content-wrapper">

    <section class="content-header">
        <h1>
            User
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit</h3>
                    </div>
                    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="box-body">


                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">
                                @*@Html.Label("Name", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Name<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Name, new { @Class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Bangla Name", new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Bangla_Name, new { @Class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.Label("Gender", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Gender<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("Gender", @Gender, "Select Gender", new { @class = "form-control editor-field" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("Mobile", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Mobile<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Mobile, new { @Class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Phone", new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Phone, new { @Class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("User Type", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">User Type<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("User_Type", @Usertype, "Select Usertype", new { @class = "form-control editor-field" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("Role", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Role<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("Role", @role, "Select Role", new { @class = "form-control editor-field" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Email", new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Email, new { @Class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("Ward", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Ward<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Ward, new { @Class = "form-control", @type = "number" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("Address", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Area<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Area, new { @Class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                @*@Html.Label("City", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">City<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("City", @City, "Select City", new { @class = "form-control editor-field" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.Label("Address", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Address<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Address, new { @Class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.Label("User Name", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">User Name<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBox("UserName", null, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.Label("Password", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Password<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBox("Password", null, new { @class = "form-control", @type = "Password" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.Label("Confirm Password", new { @class = "control-label col-md-1" })*@
                                <label class="control-label col-md-3">Confirm Password<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBox("ConfirmPassword", null, new { @class = "form-control", @type = "Password" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">Profile Image</label>
                                <div class="col-md-5">
                                    <input type="file" id="image" name="image" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-4">
                                    <img height="150px" alt="No Image" src="~/Images/User/U_@(Model.Id + ".jpg")" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <input type="submit" value="Update" style="margin-left:15px" class="btn btn-info"/>
                                <a href="~/User/Search" class="btn btn-primary">Back</a>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label id="msg" style="color:red;">@ViewData["msg"]</label>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>

<Script>

    $("form").submit(function (event) {
        //stop form submit

        if ($("#Name").val() == "") {
            event.preventDefault();
            swal("Failed", "Name is required", "error").then(function () {
                $("#Name").focus();
            });
        }
        else if ($("#Gender").val() == "") {
            event.preventDefault();
            swal("Failed", "Gender is required", "error").then(function () {
                $("#Gender").focus();
            });
        }
        else if ($("#Mobile").val() == "" || $("#Mobile").val().length != 11) {
            event.preventDefault();
            swal("Failed", "Mobile number should be 11 digit", "error").then(function () {
                $("#Mobile").focus();
            });
        }
        else if ($("#User_Type").val() == "") {
            event.preventDefault();
            swal("Failed", "User Type is required", "error").then(function () {
                $("#User_Type").focus();
            });
        }
        else if ($("#Role").val() == "") {
            event.preventDefault();
            swal("Failed", "Role is required", "error").then(function () {
                $("#Role").focus();
            });
        }
        else if ($("#Ward").val() == "") {
            event.preventDefault();
            swal("Failed", "Ward is required", "error").then(function () {
                $("#Ward").focus();
            });
        }

        else if ($("#City").val() == "") {
            event.preventDefault();
            swal("Failed", "City is required", "error").then(function () {
                $("#City").focus();
            });
        }
        else if ($("#Username").val() == "") {
            event.preventDefault();
            swal("Failed", "Username is required", "error").then(function () {
                $("#Username").focus();
            });
        }
        else if ($("#Password").val() == "") {
            event.preventDefault();
            swal("Failed", "Password is required", "error").then(function () {
                $("#Password").focus();
            });
        }
        else if ($("#ConfirmPassword").val() != $("#Password").val()) {
            event.preventDefault();
            swal("Failed", "ConfirmPassword doesn't match password ", "error").then(function () {
                $("#ConfirmPassword").focus();
            });
        }



            //else if ($("#Email").val() == "") {
            //    event.preventDefault();
            //    $("#Email").focus();
            //    alert("Email is required");
            //}
        else if ($("#Address").val() == "") {
            event.preventDefault();
            swal("Failed", "Address is required", "error").then(function () {
                $("#Address").focus();
            });
        }
    });
    function resetFunction() {
        $("#Name").val("");
        $("#Bangla_Name").val("");
        $("#Gender").val("");
        $("#Mobile").val("");
        $("#Phone").val("");
        $("#User_Type").val("");
        $("#Role").val("");
        $("#Email").val("");
        $("#Ward").val("");
        $("#Area").val("");
        $("#City").val("");
        $("#Address").val("");
        $("#UserName").val("");
        $("#Password").val("");
        $("#ConfirmPassword").val("");






    }
    $(document).ready(function () {

        var message = $("#msg").text();

        if (message == "Successfully Updated") {
            swal("Successful", "Successfully Updated", "success").then(function () {
                resetFunction();
                window.location = "/User/Search";
            });
        }

        $("#reset").click(function () {

            resetFunction();

        });

    });
</Script>
