@model List<BusinessSuitMVC.Models.User_Profile>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>

<section class="content-wrapper">

    <section class="content-header">
        <h1>
            User
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search</h3>
                    </div>
                    <div class="container">

                        <div class="box-body">

                            <h1 style="margin-left:450px;margin-bottom:20px">User List</h1>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Option</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                    </tr>
                                <thead>
                                <tbody>
                                    @foreach (BusinessSuitMVC.Models.User_Profile userlist in (IEnumerable<BusinessSuitMVC.Models.User_Profile>)Model)
                                    {
                                        <tr>
                                            <td><a href="~/User/Edit?userid=@userlist.Id">Edit | </a><a href="~/User/Details?id=@userlist.Id">Details</a></td>
                                            <td>@userlist.Name</td>
                                            <td>@userlist.Mobile</td>
                                            <td>@userlist.Email</td>
                                            <td>@userlist.Address</td>
                                            <td>@userlist.Phone</td>
                                        </tr>
                                    }
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>