@model BusinessSuitTest.Models.User_Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePassword</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h2 style="margin-left:20px">Login</h2>
          

                <div class="form-group">
                    @Html.Label("Current Password", new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Password, new { @Class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("New Password", new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.TextBox("NewPassword", null,new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Confirm Password",new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.TextBox("ConfirmPassword",null, new { @Class = "form-control" })
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <input type="submit" value="Log in" style="margin-left:15px" class="btn btn-info" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label>@ViewData["msg"]</label>
                    </div>


        }
    </div>
</body>
</html>
