@model BusinessSuitMVC.Models.User_Login

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Login
            </header>
            <div class="panel-body">
                <div class="position-center">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            @Html.Label("UserName", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.UserName, new { @Class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Password", new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Password, new { @Class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <input type="submit" value="Log in" style="margin-left:15px" class="btn btn-info" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <label>@ViewData["msg"]</label>
                        </div>
                        
                    }
                </div>
            </div>
        </section>
    </div>
</div>
