@model BusinessSuitMVC.Models.Role

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{

   var  checkedList = ViewBag.existingPermission;

}

<section class="content-wrapper">

    <section class="content-header">
        <h1>
            Role
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            
                @using (Html.BeginForm("RoleEdit", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">

                                @Html.HiddenFor(m => m.Id)
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name<span style="color:red;">*</span> </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.Name, new { @Class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <input type="submit" value="Update" style="margin-left:15px" class="btn btn-info" />
                                    <a class="btn btn-info" href="~/Login/RoleSearch">Back</a>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <label id="msg" style="color:red;">@ViewData["msg"]</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Permission</h3>
                            </div>

                            <div class="box-body">  

                                    @foreach (BusinessSuitMVC.Models.Permission list in (IEnumerable<BusinessSuitMVC.Models.Permission>)ViewData["permissionsList"])
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-4">@list.Display_Name </label>
                                            <label class="col-md-4">@list.Module.Name </label>
                                            <div class="col-md-1">
                                                @*@Html.CheckBox(list.Id.ToString(),false)*@
                                                <input type="checkbox" id="@list.Id" name="permission" value="@list.Id"/>
                                                @*<span class="slider round"></span>*@
                                            </div>
                                        </div>
                                    }


                            </div>
                        </div>
                    </div>
                }

          </div>
    </section>
</section>
@section scripts{
    <script>
    $("form").submit(function (event) {
        if ($("#Name").val() == "") {
            event.preventDefault();
            //alert("Counsilor_Name is required");
            swal("Failed", "Name is required", "error").then(function () {
                $("#Name").focus();
            });

        }

    });
    function resetFunction()
    {
        $("#Name").val("");

    }
    $(document).ready(function () {
        var message = $("#msg").text();

        if (message == "Successfully Updated") {
            swal("Successful", "Successfully Updated", "success").then(function myfunction() {
                window.location.href = "/Login/RoleSearch";
            });

            resetFunction();
        }

        $("#reset").click(function () {

            resetFunction();

        });
        setPermissions();
    });

    function setPermissions() {
        $.ajax({
            url: '/Login/getAllPermissionsByRoleIdJson/'+ $('#Id').val(),
            type: "GET",
            dataType: "JSON",
            //data: { ID: ACR_MASTER_ID },
            success: function (data) {
                console.log(data);
                $('input[type=checkbox]').each(function() {
                    var checkBoxId = parseInt($(this).attr('id'));
                    console.log(checkBoxId);
                    if (data.indexOf(checkBoxId) > -1) {
                        $(this).attr('checked', true);
                    }
                });
            },
            error: function () {
                swal('Failed', "unknown error occoured", 'error');
            }
        });
    }
</script>
    }

