@model BusinessSuitMVC.Models.Expense
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<section class="content-wrapper">

    <section class="content-header">
        <h1>
            Accounting
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    @using (Html.BeginForm("ExpenseCreate", "Accounting", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="box-body">

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Head<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("Account_Head_Id", (List<SelectListItem>)ViewData["accounthd"], "Select Account Head", new { @class = "form-control editor-field" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Type<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("Type", (List<SelectListItem>)ViewData["typ"], "Select Type", new { @class = "form-control editor-field" })
                                </div>
                            </div>

                            @*<div class="form-group">
                               
                                <label class="control-label col-md-3">Type<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.DropDownList("Type", @type, "Select type", new { @class = "form-control editor-field" })
                                </div>
                            </div>*@

                            <div class="form-group">

                                <label class="control-label col-md-3">Date<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Spent_Date, new { @Class = "form-control myDatePicker" })
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-3">Amount<span style="color:red;">*</span> </label>

                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Amount, new { @Class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                @Html.Label("Description", new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.TextAreaFor(m => m.Description, new { @Class = "form-control", @rows = "3" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Image", new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    <input type="file" id="image" name="image" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>

                                <input type="submit" value="Save" style="margin-left:15px" class="btn btn-info" />
                                <input type="button" value="Reset" id="reset" class="btn btn-info" />

                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label id="msg" style="color:red;">@ViewData["msg"]</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>
@section contents{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Script/bootstrap-datepicker.min.js"></script>
    <script>
       
       
        $('.myDatePicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        })

      
        $("form").submit(function (event) {
            
            if ($("#Account_Head_Id").val() == "") {
                event.preventDefault();
                //alert("Counsilor_Name is required");
                swal("Failed", "Account Head is required", "error").then(function () {
                    $("#Account_Head_Id").focus();
                });


            }
           else if ($("#Type").val() == "") {
                event.preventDefault();
                //alert("Counsilor_Name is required");
                swal("Failed", "Type is required", "error").then(function () {
                    $("#Type").focus();
                });


            }
            else if ($("#Spent_Date").val() == "") {
                event.preventDefault();
                swal("Failed", "Date is required", "error").then(function () {
                    $("#Spent_Date").focus();
                });
            }
            else if ($("#Amount").val() == "") {
                event.preventDefault();
                swal("Failed", "Amount is required", "error").then(function () {
                    $("#Amount").focus();
                });
            }

        });

        function resetFunction() {
            $('#Account_Head_Id option:first').prop('selected', true);
            $('#Type option:first').prop('selected', true); //clear
            $("#Spent_Date").val("");
            $("#Amount").val("");
            $("#Description").val("");
            $("#Image").val("");
        }

        $(document).ready(function () {
           
            var message = $("#msg").text();

            if (message == "Successfully Saved") {
                swal("Successful", "Successfully Saved", "success").then(function () {
                    resetFunction();
                    window.location = "/Accounting/ExpenseSearch";
                });
            }

            $("#reset").click(function () {

                resetFunction();

            });

        });
    </script>
}