@model BusinessSuitMVC.Models.Offline_Order_Detalis



<!DOCTYPE html>
@{
//List<SelectListItem> cdprovided = new List<SelectListItem>();
//cdprovided.Add(new SelectListItem() { Value = "1", Text = "Yes" });
//cdprovided.Add(new SelectListItem() { Value = "2", Text = "No" });
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Script/jquery.min.js"></script>
   
</head>
<body>
    <div>
        @using (Html.BeginForm("Create", "OfflineOrder", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h2 style="margin-left:20px">Offline_Order_Details</h2>
            <div class="form-group">
                @Html.Label("Price_Per_Piece", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Price_Per_Piece, new { @Class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Estimated_Voters", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Estimated_Voters, new { @Class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Format_No", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Format_No, new { @Class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Free_Blank_Slip", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Free_Blank_Slip, new { @Class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Paid_Blank_Slip", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Paid_Blank_Slip, new { @Class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Slip_Content", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Slip_Content, new { @Class = "form-control" })
                </div>
            </div>
            /*
            <div class="form-group">
                @Html.Label("Is_Cd_Provided", new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.CheckBoxFor(m =>m.Is_Cd_Provided,  new { @class = "form-control editor-field" })
                </div>
            </div>
            */
            
                <div class="form-group">
                    @Html.Label("Voter_List_Print", new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Voter_List_Print, new { @Class = "form-control" })
                    </div>
                </div>
         
                <div class="form-group">
                    @Html.Label("Voter_List_Print_Comment", new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Voter_List_Print_Comment, new { @Class = "form-control" })
                    </div>
                </div>
            
                <div class="form-group">
                    @Html.Label("Discount", new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Discount, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Status", new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Status, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Remarks", new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Remarks, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Marka", new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Marka, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>

                    <input type="submit" value="Save" style="margin-left:15px" class="btn btn-info" />
                    <input type="submit" value="Reset" id="reset" style="margin-left:15px" class="btn btn-info" />


                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <label>@ViewData["msg"]</label>
                </div>


        }
            </div>
</body>
<Script>
    $(document).ready(function () {
        $("#reset").click(function () {

            $("#Price_Per_Piece").val("");
            $("#Estimated_Voters").val("");
            $("#Format_No").val("");
            $("#Free_Blank_Slip").val("");
            $("#Paid_Blank_Slip").val("");
            $("#Slip_Content").val("");
            $("#Voter_List_Print").val("");
            $("#Voter_List_Print_Comment").val("");
            $("#Discount").val("");
            $("#Status").val("");
            $("#Remarks").val("");
            $("#Marka").val("");

        });

    });
</Script>
</html>
